<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="validation1.component.scss">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="sidebar close">
    <div class="logo-details">
      <i class='bx bx-menu' ></i>
      <span class="logo_name">Nom Projet</span>
    </div>
    <ul class="nav-links">
      <li>
        <a href="acceuil">
          <i class='bx bx-compass' ></i>
          <span class="link_name">Acceuil</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Acceuil</a></li>
        </ul>
      </li>
      <li>
        <a href="dashboard">
          <i class='bx bx-grid-alt' ></i>
          <span class="link_name">Dashboard</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Dashboard</a></li>
        </ul>
      </li>
      <li>
        <a href="form">
          <i class='bx bx-plug' ></i>
          <span class="link_name">Demande API</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Demande API</a></li>
        </ul>
      </li>
      <li>
        <div class="iocn-link">
          <a >
            <i class='bx bx-collection' ></i>
            <span class="link_name">Admin</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">Admin</a></li>
          <li><a href="liste">Liste APIs</a></li>
          <li><a href="user">Liste Utilisateur</a></li>
          <li><a href="demande">Liste Demande</a></li>
        </ul>
      </li>
      <li>
        <div class="iocn-link">
          <a >
            <i class='bx bx-book-alt' ></i>
            <span class="link_name">Data Owner</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" >DataOwner</a></li>
          <li><a href="validation1">1er validateur</a></li>
          <li><a href="validation2">2eme validateur</a></li>
        </ul>
      </li>
      <li>
      
      <li>
    <div class="profile-details">
      <div class="profile-content">
      </div>
      <div class="name-job">
        <div class="profile_name">{{ userName }}</div>
        <div class="job">{{ profileName }}</div>
      </div>
      <i class='bx bx-log-out' (click)="logout()"></i>
    </div>
  </li>
</ul>
  </div>
    <div class='dashboard-app'>
        <div class='dashboard-content'>
            <div class='container'>
                <div class="container-xl">
                    <div class="table-responsive">
                        <div class="table-wrapper">
                            <div class="table-title">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h2>1ere <b>validation</b></h2>
                                    </div>
                                    
                                </div>
                            </div>
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                       
                                        <th style="width: 30%;">Description</th>
                                        <th style="width: 30%;">NomApi</th>
                                        <th style="width: 20%;">status</th>
                                        <th style="width: 30%;">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let demande of demandes; let i = index" [attr.id]="'demande-row-' + i">
                                        <td>{{ demande.descriptionAPI }}</td>
                                        <td>{{ demande.nomAPI }}</td>
                                        <td>
                                            <ng-container *ngFor="let status of demande.statuses">
                                                {{ status.nomStatus }}
                                            </ng-container>
                                        </td>
                                        <td>
                                            <a class="check"*ngIf="demande.idDemande !== undefined" (click)="handleCheckIconClick(demande.idDemande)" ><i class="material-icons" data-toggle="tooltip" title="check">&#10004;</i></a>
                                            <a class="delete" ><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                                            <a class="details" (click)="showDetails(demande)"><i class="material-icons" title="Details">&#xE88E;</i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>