<div class="container">
    <div class="detail">
      <label>etablissementDemandeur: </label>
      <span>{{ data.etablissementDemandeur }}</span>
      <label> Établissement Fournisseur: </label>
      <span>{{ data.etablissementFournisseur }}</span>

      <label>Établissement Propriétaire: </label>
      <span>{{ data.etablissementProprietaire }}</span>
    </div>
    <div class="detail">
      <label>Nom API: </label>
      <span>{{ data.nomAPI }}</span>
    </div>
    <div class="detail">
      <label>Description API: </label>
      <span>{{ data.descriptionAPI }}</span>
    </div>
    <div class="detail">
      <label>Cadre API: </label>
      <span>{{ data.cadreAPI }}</span>
    </div>
    <div class="detail">
        <label>Données Entrée: </label>
        <span>{{ data.donneesEntree }}</span>
      </div>
      <div class="detail">
        <label>  Données Sortie: </label>
        <span>{{ data.donneesSortie }}</span>
      </div>
      <div class="detail">
        <label> Impact: </label>
        <span>{{ data.nomHebergeur }}</span>
      </div>
      <div class="detail">
        <label>Hébergeur Situé en Tunisie: </label>
        <span>{{ data.hebergeurSitueTunisie }}</span>
      </div>
      <div class="detail">
        <label>Pays Hébergeur: </label>
        <span>{{ data.paysHebergeur }}</span>
      </div>
      <div class="detail">
        <label>Application Publiée sur Internet: </label>
        <span>{{ data.applicationPublieInternet }}</span>
      </div>
      <div class="detail">
        <label>Nom de Domaine de l'Application: </label>
        <span>{{ data.nomDomaineApplication }}</span>
      </div>
      <div class="detail">
        <label> Adresses IP des Serveurs: </label>
        <span>{{ data.adressesIPServeurs }}</span>
      </div>
      <div class="detail">
        <label>Type de Connexion CNI: </label>
        <span>{{ data.typeConnexionCNI }}</span>
      </div>
      <div class="detail">
        <label>Nombre Estimé d'Appels par An: </label>
        <span>{{ data.nombreEstimeAppelsAn }}</span>
      </div>
      <div class="detail">
        <label> Nombre Estimé d'Appels par Minute: </label>
        <span>{{ data.nombreEstimeAppelsMin }}</span>
      </div>
      <div class="detail">
        <label>Besoin d'Invoquer l'API en Masse: </label>
        <span>{{ data.besoinInvoquerAPIEnMasse }}</span>
      </div>
      <div class="detail">
        <label>Nom Responsable CNI: </label>
        <span>{{ data.nomResponsableCNI }}</span>
      </div><div class="detail">
        <label>Adresse Mail Professionnelle du Responsable CNI: </label>
        <span>{{ data.adresseMailProfessionnelleResponsableCNI }}</span>
      </div><div class="detail">
        <label> Numéro de Téléphone du Responsable CNI: </label>
        <span>{{ data.numeroTelephoneResponsableCNI }}</span>
      </div><div class="detail">
        <label>Nom Responsable: </label>
        <span>{{ data.nomResponsable }}</span>
      </div>
      <div class="detail">
        <label> Adresse Mail Professionnelle Responsable: </label>
        <span>{{ data.adresseMailProfessionnelleResponsable }}</span>
      </div><div class="detail">
        <label>Numéro de Téléphone Responsable: </label>
        <span>{{ data.numeroTelephoneResponsable }}</span>
      </div>
      
  </div>
  