<div class="container">
  <h1>Inscription</h1>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="first-name">Entrez votre Prenom</label>
      <input type="text" id="first-name" placeholder="Votre prenom" formControlName="prenom">
    </div>
    <div class="form-group">
      <label for="cin-number">Entrez votre Numero CIN</label>
      <input type="text" id="cin-number" placeholder="Votre numero CIN" formControlName="cin" required>
    </div>
    <div class="form-group">
      <label for="email">Entrez votre Email</label>
      <input type="email" id="email" placeholder="Votre email" formControlName="email">
    </div>
    
    <div class="form-group">
      <label for="password">Entrez votre Mot de passe</label>
      <input type="password" id="password" placeholder="Votre mot de passe" formControlName="password" required>
    </div>
    <div class="form-group">
      <label for="mobile-number">Entrez votre Numero mobile</label>
      <input type="tel" id="mobile-number" placeholder="Votre numero mobile" formControlName="mobile">
    </div>
    <div class="form-group">
      <button type="submit" [disabled]="!userForm.valid">Inscrivez-vous</button>
    </div>
  </form>
  <p class="sign-in"> <a href="connect">Avez-vous déjà un compte ?</a></p>
</div>
