.container {
    max-width: 400px; /* Maximum width of the container */
    margin: 5px auto; /* Center the container horizontally with 5px margin on top and bottom */
  }
  
  .form-group {
    margin-bottom: 20px; /* Add margin bottom to create space between form groups */
  }
  
  label {
    display: block; /* Make labels block elements */
    font-weight: bold; /* Make labels bold */
    margin-bottom: 5px; /* Add some space below the labels */
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="tel"],
  select {
    width: 100%; /* Make input fields full width */
    padding: 10px; /* Add padding to input fields */
    border: 1px solid #ccc; /* Add border to input fields */
    border-radius: 5px; /* Add border radius for rounded corners */
    transition: border-color 0.3s; /* Add transition effect for border color */
  }
  
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="password"]:focus,
  input[type="tel"]:focus,
  select:focus {
    outline: none; /* Remove default focus outline */
    border-color: #007bff; /* Change border color on focus */
  }
  
  button[type="submit"] {
    width: 100%; /* Make button full width */
    background-color: #1d1b31; /* Button background color */
    color: #fff; /* Button text color */
    border: none; /* Remove button border */
    border-radius: 5px; /* Add border radius for rounded corners */
    padding: 10px; /* Add padding to button */
    cursor: pointer; /* Change cursor to pointer on hover */
    transition: background-color 0.3s; /* Add transition effect for background color */
  }
  
  button[type="submit"]:hover {
    background-color: #1d1b31; /* Change button background color on hover */
  }
  