<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="listeuser.component.scss">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <title>Dashboard</title>
</head>
<body>
    
    <section class="main" >
      <div class="sidebar close">
        <div class="logo-details">
          <i class='bx bx-menu' ></i>
          <span class="logo_name">Nom Projet</span>
        </div>
        <ul class="nav-links">
          
          <li  [hidden]="profileName !== 'admin' && profileName !== '1er validateur' && profileName !== '2eme validateur'">
            <a href="dashboard">
              <i class='bx bx-grid-alt' ></i>
              <span class="link_name">Dashboard</span>
            </a>
            <ul class="sub-menu blank">
              <li><a class="link_name" href="#">Dashboard</a></li>
            </ul>
          </li>
          <li [hidden]="profileName !== 'consommateur'">
            <a href="form">
              <i class='bx bx-plug' ></i>
              <span class="link_name">Demande API</span>
            </a>
            <ul class="sub-menu blank">
              <li><a class="link_name" href="#">Demande API</a></li>
            </ul>
          </li>
          <li [hidden]="profileName !== 'admin'">
            <div  class="iocn-link">
              <a >
                <i class='bx bx-collection'></i>
                <span class="link_name">Administration</span>
              </a>
              <i class='bx bxs-chevron-down arrow'></i>
            </div>
            <ul class="sub-menu">
              <li><a class="link_name" href="#">Administration</a></li>
              <li><a href="liste">Liste APIs</a></li>
              <li><a href="user">Liste Utilisateur</a></li>
              <li><a href="str">Liste Structure</a></li>

              <li><a href="demande">Liste Demande</a></li>
            </ul>
          </li>
          <li [hidden]="profileName !== '1er validateur' && profileName !== '2eme validateur'">
            <div class="iocn-link">
              <a >
                <i class='bx bx-book-alt' ></i>
                <span class="link_name">Data Owner</span>
              </a>
              <i class='bx bxs-chevron-down arrow' ></i>
            </div>
            <ul class="sub-menu">
              <li><a class="link_name" >DataOwner</a></li>
              <li [hidden]="profileName !== '1er validateur'"><a href="validation1">1er validateur</a></li>
              <li [hidden]="profileName !== '2eme validateur'"><a href="validation2">2eme validateur</a></li>
            </ul>
          </li>
          <li>
          
          <li>
        <div class="profile-details">
          <div class="profile-content">
          </div>
          <div class="name-job">
            <div class="profile_name">{{ userName }}</div>
            <div class="job">{{ profileName }}</div>
          </div>
          <i class='bx bx-log-out' (click)="logout()"></i>
        </div>
      </li>
    </ul>
      </div>
    <div class='dashboard-app'>
        <div class='dashboard-content'>
            <div class='container'>
                <div class="container-xl">
                    <div class="table-responsive">
                        <div class="table-wrapper">
                            <div class="table-title">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h2>Liste <b>Utilisateur</b></h2>
                                    </div>
                                    <div class="col-sm-6">
                                        <button type="button" class="btn btn-primary" (click)="openAddUserModal()"><i class="material-icons">&#xE147;</i><span>Ajouter</span></button>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        
                                        <th style="width: 30%;">Prénom</th>
                                        <th style="width: 30%;">Email</th>
                                        <th style="width: 30%;">profile</th>
                                        <th style="width: 30%;">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let user of registeredUsers; let i = index" [attr.id]="'user-row-' + i">
                                        
                                        <td>{{ user.prenom }}</td>
                                        <td>{{ user.email }}</td>
                                        <td>{{ user.profil?.nomProfil }}</td>
                                        <td>
                                            <a class="edit" (click)="openUpdateUserDialog(user)"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                                            <a class="delete" (click)="deleteUser(user.idUser!)"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                                            <a class="details" (click)="showDetails(user)"><i class="material-icons" title="Details">&#xE88E;</i></a>

                                        </td>
                                        <td>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                          
                        </div>
                    </div>        
                </div>
                
                
                </div>
            </div>
        </div>
    

