<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="listedemandeconsommateur.component.scss">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="sidebar close">
    <div class="logo-details">
      <i class='bx bx-menu' ></i>
      <span class="logo_name">Nom Projet</span>
    </div>
    <ul class="nav-links">
      
      
      <li [hidden]="profileName !== 'consommateur'">
        <a href="form">
          <i class='bx bx-plug' ></i>
          <span class="link_name">Demande API</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="form">Demande API</a></li>
        </ul>
      </li>
      <li [hidden]="profileName !== 'consommateur'">
        <a href="apicons">
          <i class='bx bx-collection' ></i>
          <span class="link_name">Liste APIs</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="apicons">Liste APIs</a></li>
        </ul>
      </li>
      <li [hidden]="profileName !== 'consommateur'">
        <a href="demandecons">
          <i class='bx bx-book-alt' ></i>
          <span class="link_name">Liste de demande En cours</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="demandecons">Liste de demande En cours</a></li>
        </ul>
      </li>
      <li [hidden]="profileName !== 'consommateur'">
        <a href="terminee">
          <i class='bx bx-book-alt' ></i>
          <span class="link_name">Liste de demande Terminée</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="terminee">Liste de demande Terminée</a></li>
        </ul>
      </li>
      <li [hidden]="profileName !== 'consommateur'">
        <a href="">
          <i class='bx bx-book-alt' ></i>
          <span class="link_name">Liste de demande a rectifier</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Liste de demande a rectifier</a></li>
        </ul>
      </li>
      <li>
      
      <li>
    <div class="profile-details">
      <div class="profile-content">
      </div>
      <div class="name-job">
        <div class="profile_name">{{ userName }}</div>
        <div class="job">{{ profileName }}</div>
      </div>
      <i class='bx bx-log-out' (click)="logout()"></i>
    </div>
  </li>
</ul>
  </div>
  <div class='dashboard-app'>
    <div class='dashboard-content'>
        <div class='container'>
            <div class="container-xl">
              <div class="search-container">
                <input type="text" placeholder="Recherche" [(ngModel)]="searchText">
              </div>
                <div class="table-responsive">
                    <div class="table-wrapper">
                        <div class="table-title">
                            <div class="row">
                                <div class="col-sm-6">
                                    <h2>Liste <b>Demandes</b></h2>
                                </div>
                                
                            </div>
                        </div>
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                   
                                    <th style="width: 30%;">Description</th>
                                    <th style="width: 30%;">NomApi</th>
                                    <th style="width: 40%;">status</th>
                                    <th style="width: 20%;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let demande of demandes| filter:searchText | paginate:{itemsPerPage: tableSize,currentPage: page, totalItems: count}; let i = index" [attr.id]="'demande-row-' + i">
                                    <td>{{ demande.descriptionAPI }}</td>
                                    <td>{{ demande.nomAPI }}</td>
                                    <td>
                                        <ng-container *ngFor="let status of demande.statuses">
                                            {{ status.nomStatus }}
                                        </ng-container>
                                    </td>
                                    <td>
                                        <a class="details" (click)="showDetails(demande)"><i class="material-icons" title="Details">&#xE88E;</i></a>

                                      </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="clearfix">
                          <pagination-controls previousLabel="précédent" nextLabel="Suivant" (pageChange)="onTableDataChange($event)" class="hint-text" class="pagination"></pagination-controls>
                           </div>