<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="add.component.scss">
</head>
<body>

    <section>
     <header>
    <div class="circle"></div>
    <div class="circles"></div>
    <a href="#" class="logo">Digital<span>Service</span></a>
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
    <a href="connect" class="login-link">Se connecter</a>
</header>


        <div class="texts">
            <h1>Digital<span>service</span></h1>
            <p>L'Oni vise à améliorer l'efficacité et la collaboration entre les ministères et les organismes
				gouvernementaux en facilitant la recherche des données dans le cadre nationale d'intéropérabilité.
            </p>
        </div>

        <div class="background_image">
            <img src="">
        </div>

        <a href="inscrit" class="btn">
            <p class="read">Créer Votre compte</p>
        </a>
    </section>


    <div class="about">  
        <div class="cards">
            <h1>Comment Utiliser ?</h1>
            <div class="box">
                <div class="card">
                    <img src="">
                    
                    <p>
						Rejoignez la plateforme
                    </p>
                </div>
                <div class="card">
                    <img src="">
                   
                    <p>Complétez le formulaire
                        
                    </p>
                </div>
                <div class="card">
                    <img src="">
                    <p>
                        Obtenez votre service
                    </p>
                </div>
                
            </div>
        </div>
        



    <!--fotter-->

    <footer class="footer">
        <div class="main">
            <div class="row">
                <div class="footer_col">
                    <h4>Propos</h4>
                    <ul>
                        <li><a href="#">a propos</a></li>
                        
                    </ul>
                </div>

                <div class="footer_col">
                    <h4>Etablissement</h4>
                    <ul>
                        <li><a href="#">liste</a></li>
                        
                    </ul>
                </div>

                <div class="footer_col">
                    <h4>Contact</h4>
                    <ul>
                        <li><a href="#">info de contact</a></li>
                        
                    </ul>
                </div>

                <div class="footer_col">
                    <h4>Services</h4>
					<ul>
                        <li><a href="#">liste de services</a></li>
                        
                    </ul>           
                        
                    
                </div>
            </div>
        </div>
    </footer>
    
