<div class="container">
    <div class="detail">
      <label>Prénom: </label>
      <span>{{ data.prenom }}</span>
    </div>
    <div class="detail">
      <label>Numéro CIN: </label>
      <span>{{ data.cin }}</span>
    </div>
    <div class="detail">
      <label>Email: </label>
      <span>{{ data.email }}</span>
    </div>
    
    <div class="detail">
      <label>Numéro mobile: </label>
      <span>{{ data.mobile }}</span>
    </div>
    <div class="detail">
      <label>Profil: </label>
      <span>{{ data.profil?.nomProfil }}</span>
    </div>
  </div>
  