<div class="container">
  <form [formGroup]="addform" (ngSubmit)="FormSubmit()">
    <div class="form-group">
      <label for="nom">Nom</label>
      <input type="text" id="nom" placeholder="Nom" formControlName="nom">
    </div>
    <div class="form-group">
      <label for="code">Code</label>
      <input type="text" id="code" placeholder="Code" formControlName="code">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea id="description" placeholder="Description" formControlName="description"></textarea>
    </div>
    <div class="form-group">
      <label for="input">Input</label>
      <input type="text" id="input" placeholder="Input" formControlName="input">
    </div>
    <div class="form-group">
      <label for="output">Output</label>
      <input type="email" id="output" placeholder="Output" formControlName="output">
    </div>
    <div class="form-group">
      <label for="cadre-utilisation">Cadre Utilisation</label>
      <input type="text" id="cadre-utilisation" placeholder="Cadre Utilisation" formControlName="cadreUtilisation">
    </div>
    <div class="form-group">
      <button type="submit" [disabled]="!addform.valid">Ajouter</button>
    </div>
  </form>
</div>
