<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Digital E-service</title>
  <link rel="stylesheet" href="acceuil.component.scss">
</head>

<body>
  <header>
    <div class="container">
      <a href="index.html" class="logo">République <br>tunisienne</a>
      <nav>
        <a href="#">Services</a>
        <a href="connexion">Se connecter</a>
      </nav>
    </div>
  </header>
  <main>
    <section class="hero">
      <div class="container">
        <h1>Digital E-service</h1>
        <p>L'Oni vise à améliorer l'efficacité et la collaboration entre les ministères et les organismes
          gouvernementaux en facilitant la recherche des données dans le cadre nationale d'intéropérabilité.</p>
        <a href="inscription" class="button">Créer Votre compte</a>
      </div>
    </section>
    <div class="container">
      <h2>Comment utiliser?</h2>
      <ul>
        <li>
          <img src="assets/plat.png" alt="icon">
          <h3>Rejoignez la plateforme</h3>
        </li>
        <li>
          <img src="assets/form.png" alt="icon">
          <h3>Complétez le formulaire</h3>
        </li>
        <li>
          <img src="assets/web.png" alt="icon">
          <h3>Obtenez votre service</h3>
        </li>
      </ul>
    </div>
  </main>
  <footer>
    <div >
        <ul>
          <li><a href="#">Propos</a></li>
          <li><a href="#">Etablissement</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Services</a></li>
        </ul>
      <p>Copyright &copy; 2024 CNI</p>
    </div>
  </footer>
</body>

</html>




