<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="dashboard.component.scss">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <title>Dashboard</title>
</head>
<body>
    
    <section class="main">
      <div class="sidebar close">
        <div class="logo-details">
          <i class='bx bx-menu' ></i>
          <span class="logo_name">Nom Projet</span>
        </div>
        <ul class="nav-links">
          <li>
            <a href="acceuil">
              <i class='bx bx-compass' ></i>
              <span class="link_name">Acceuil</span>
            </a>
            <ul class="sub-menu blank">
              <li><a class="link_name" href="#">Acceuil</a></li>
            </ul>
          </li>
          <li>
            <a href="dashboard">
              <i class='bx bx-grid-alt' ></i>
              <span class="link_name">Dashboard</span>
            </a>
            <ul class="sub-menu blank">
              <li><a class="link_name" href="#">Dashboard</a></li>
            </ul>
          </li>
          <li>
            <a href="form">
              <i class='bx bx-plug' ></i>
              <span class="link_name">Demande API</span>
            </a>
            <ul class="sub-menu blank">
              <li><a class="link_name" href="#">Demande API</a></li>
            </ul>
          </li>
          <li >
            <div  class="iocn-link">
              <a >
                <i class='bx bx-collection'></i>
                <span class="link_name">Admin</span>
              </a>
              <i class='bx bxs-chevron-down arrow'></i>
            </div>
            <ul class="sub-menu">
              <li><a class="link_name" href="#">Admin</a></li>
              <li><a href="liste">Liste APIs</a></li>
              <li><a href="user">Liste Utilisateur</a></li>
              <li><a href="demande">Liste Demande</a></li>
            </ul>
          </li>
          <li>
            <div class="iocn-link">
              <a >
                <i class='bx bx-book-alt' ></i>
                <span class="link_name">Data Owner</span>
              </a>
              <i class='bx bxs-chevron-down arrow' ></i>
            </div>
            <ul class="sub-menu">
              <li><a class="link_name" >DataOwner</a></li>
              <li><a href="validation1">1er validateur</a></li>
              <li><a href="validation2">2eme validateur</a></li>
            </ul>
          </li>
          <li>
          
          <li>
        <div class="profile-details">
          <div class="profile-content">
          </div>
          <div class="name-job">
            <div class="profile_name">{{ userName }}</div>
            <div class="job">{{ profileName }}</div>
          </div>
          <i class='bx bx-log-out' (click)="logout()"></i>
        </div>
      </li>
    </ul>
      </div>
        <div class="main--content">
            <div class="overview">
                <div class="title">
                    <h2 class="section--title">Overview</h2>
                    
                </div>
                <div class="cards">
                    <div class="card card-1" style="width: 35%;">
                        <div class="card--data">
                            <div class="card--content">
                                <h5 class="card--title">Utilisateur</h5>
                                <h1>{{ totalUsers }}</h1> 
                              </div>
                            <i class="ri-user-2-line card--icon--lg"></i>
                        </div>
                        
                    </div>
                    <div class="card card-2" style="width: 35%;">
                        <div class="card--data">
                            <div class="card--content">
                                <h5 class="card--title">Demandes</h5>
                                <h1>{{ totalDemandes }}</h1>
                            </div>
                            <i class="ri-pages-line card--icon--lg"></i>
                        </div>
                        
                    </div>
                    <div class="card card-3" style="width: 35%;">
                        <div class="card--data">
                            <div class="card--content">
                                <h5 class="card--title">APIs</h5>
                                <h1>{{ totalAPIs }}</h1>
                            </div>
                            <i class="ri-calendar-2-line card--icon--lg"></i>
                        </div>
                        
                    </div>
                    
                </div>
            </div>
            
            <canvas id="myChart" width="500" height="230"></canvas>

           
        </div>
    </section>
</body>
</html>