<div class="container">
    <div class="detail">
      <label>Nom: </label>
      <span>{{ data.nom }}</span>
    </div>
    <div class="detail">
      <label>Code: </label>
      <span>{{ data.code }}</span>
    </div>
    <div class="detail">
      <label>Description: </label>
      <span>{{ data.description }}</span>
    </div>
    <div class="detail">
      <label>Input: </label>
      <span>{{ data.input }}</span>
    </div>
    <div class="detail">
      <label>Output: </label>
      <span>{{ data.output }}</span>
    </div>
    <div class="detail">
      <label>Cadre Utilisation: </label>
      <span>{{ data.cadreUtilisation }}</span>
    </div>
  </div>
  