<h2 mat-dialog-title>Edit Row</h2>
<mat-dialog-content>
  <form [formGroup]="editForm">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Name" formControlName="nom">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Code" formControlName="code">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Description" formControlName="description"></textarea>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Input" formControlName="input">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Output" formControlName="output">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Cadre" formControlName="cadreUtilisation">
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Cancel</button>
  <button mat-button (click)="onSave()">Save</button>
</mat-dialog-actions>
